.Container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}



main {
  flex: 1;
  overflow-y: scroll;
}

.footer {
  height: 98px;
  padding-bottom: env(safe-area-inset-bottom);

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .nav-limk {
      width: 20%;
      font-size: 20px;
      display: flex;
      flex-direction: column;
      text-align: center;
      color: #0b131b5c;
      i {
          font-size: 48px;
      }
      span{
          padding: 5px 0;
      }
    }
    .active{
        color: #057bfd;
    }
  }
}
