.blod_box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.header {
  height: 88px;
  font-size: 29px;
  display: flex;
  justify-content: space-between;
  line-height: 88px;
  padding: 0 24px;
  color: #0b131b5c;
  .header-tab {
    display: flex;
    flex: 1;
    .Navlink {
      display: block;
      padding: 0 15px;
      position: relative;
    }
    .active {
      &::before {
        content: " ";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 6px;
        background: #057bfd;
        border-radius: 50px;
      }
      color: #057bfd;
      font-weight: bold;
      font-family: SourceHanSansSC-Bold;
    }
  }
  .header-icon {
    width: 100px;
    display: flex;
    color: #0b131b21;
    span {
      display: block;
      width: 40px;
      font-size: 40px;
      padding: 0 5px;
      color: #0b131bab;
    }
  }
}
.blod-list{
  flex: 1;
  overflow-y: scroll;
  font-family: SourceHanSansSC;
  background: #f9f9f959;
}
.activeBlog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 24px;
  font-family: SourceHanSansSC;
  li {
    width: 48%;
    height: min-content;
    border-radius: 10px;
    box-shadow: 0px 5px 20px 2px #d4cdcd94;
    margin-bottom: 40px;
    overflow: hidden;
    background: #fff;
    .prodimg {
      height: 250px;
      background: #ccc;
      overflow: hidden;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .blod_cent {
      font-family: SourceHanSansSC-Bold;
      padding:10px 20px;
      font-size: 28px;
      height: 60px;
      span {
        font-weight: bold;
      }
    }
    .blod_avater {
      & > div {
        display: flex;
        justify-content: space-between;
        align-items: center ;
      }
      .blod_avater_top {
        padding:10px 20px;
        p {
          color: #0b131b78;
          font-size: 22px;
        }
        span{
          color: #0b131b40;
          font-size: 22px;
        }
      }
      .blod_avater_foot {
        padding:0px 20px 20px;
        font-size: 22px;
        & > span{
          color: #0b131b40;
        }
        .blod_message {
          display: flex;
          align-items: center;
          img {
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #ccc;
            margin-right: 10px;
          }
          span {
            font-size: 24px;
            font-weight: bold;
            color: #0b131b7a;
          }
          
        }
      }
    }
  }
}
.blod {
  padding: 24px;
  li {
    font-size: 22px;
    margin-bottom: 60px;
    .prodimg {
      height: 500px;
      background: #ccc;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0px 5px 20px 2px #d4cdcd94;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .blod_cent {
      font-family: SourceHanSansSC-Bold;
      padding: 20px 0;
      span {
        font-size: 36px;
        font-weight: bold;
      }
    }
    .blod_avater {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        color: #0b131b5c;
        font-size: 22px;
      }
      .blod_message {
        display: flex;
        align-items: center;
        img {
          display: block;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: #ccc;
          margin-right: 24px;
        }
        span {
          font-size: 24px;
          font-weight: bold;
        }
        em {
          margin-left: 10px;
          width: 30px;
          height: 30px;
          background: url("../../assets/img/v.png") no-repeat center/cover;
        }
      }
    }
  }
}
